{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: center; padding-top: 100px; box-sizing: border-box;">
  <div class="container tm-container-inner-2 tm-contact-section" style="max-width: 400px; width: 100%;">
    <h2 class="tm-section-title tm-mb-45 text-center">Вход</h2>
    <form id="login-form" class="tm-contact-form">
      <div class="form-group">
        <input type="email" id="email" class="form-control" placeholder="Email" required />
      </div>
      <div class="form-group">
        <input type="password" id="password" class="form-control" placeholder="Пароль" required />
      </div>

      <p id="message" class="text-center" style="margin-bottom: 20px;"></p>

      <div class="form-group text-center">
        <button type="submit" class="tm-btn tm-btn-success">Вход</button>
      </div>
    </form>
  </div>
</div>

{% block extra_js %}<script src="{{ url_for('static', path='js/login.js') }}"></script>{% endblock %}

{% endblock %}